@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif
}

/*      EXTEND PARA LOS TITULOS        */
.titulos {
    font-family: $TipografiaTitulo;
    font-size: $FontSizeTitulo;
    text-align: center;
}





/*      MIXIN PARA LAS GRILLAS         */
@mixin grid($row, $columns){

    display:grid;
    grid-template-columns: $columns;
    grid-template-rows: $row;
}





/*     NAV     */
/* HEADER */
header{
    position: sticky;
    top: 0;
    z-index: 5;
    nav {
    
        background-color: black;
        height: 75px;
        text-align: center;

        .logo{
            display: inline-block;
            height: 9vh;
            padding-left: 5%;
        }

        #navbarNav{
            padding-left: 30%;

            ul {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;

                li {
                    height: 100%;

                    a {
                        color: #ffff;
                        text-decoration: none;
                        display: block;
                        padding-top: 29px;
                        height: 100%;
                        
                        
                        &:hover{
                            background-color: gray;
                            color: black;
                        }   
                    }
                }
            }
        }
        
    }
}





/*     INDEX     */
#inicio{
    position: relative;
    height: 100%;


    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    #titulo{
        font-family: $TipografiaTitulo;
        font-size: 6vw;
        text-align: center;
        color: $ColorTituloIndex;
        padding-top: 25%;
    }
}

#bienv{
    padding: 3%;
    justify-content: center;

    #tituloIndex{
        @extend .titulos;
        font-size: 4vw;
        color: $TituloPrincipal;
        
    }

    main hr{
        margin: 2% 0% 1%;
        background-color: $HrColor;
    }
}




/*     SECCION LOCALES     */
#mainLocales{
    #contenidoLocal{
        #fotoLocal{
            position: unset;
            width: 99%;
            height: 70%;
        }

        #tituloLocales{
            @extend .titulos;
            color:black;
            font-size: 6vh;
            padding-top: 3%;
        }

        #plocal{
            padding: 10px;
        }
    }

    aside{
        background-color:#F2B705;
        padding: 10px;
    
        #divLocales{
            #titleAside{
                font-size: 30px;
                padding-bottom: 20px;
                padding-top: 20px;
            }
    
            #imgLocal{
                position: unset;
                width: 100%;
                height: 20%;
            
            }
    
        }
    }  
}





/*     SECCION CERVEZAS     */
#mainCervezas{
    #contenido{
        #tituloCervezas{
            @extend .titulos;
            color: #F2B4AE;
            padding-bottom: 5%;
            padding-top: 5%;
        }
    }

    #grillaCervezas{
        height: 100%;
        justify-content: space-evenly;
        align-content: space-around;
        margin-bottom: 10%;

        .fotoCerv{
            position: unset;
            width: 100%;
            height: 70%;
            border-radius: 8px;
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0.15, 0.15);
        }

        .subtitulos{
            color: #666059;
            padding-top: 5%;
        }
    }
}





/*     SECCION NOSOTROS     */
#mainNosotros{
    .nosotros{
        text-align: center;
        #tituloNosotros{
            @extend .titulos;
            color: #666059;
            padding-top: 5%;
            padding-bottom: 3%;
        }
    }

    #grillaNosotros{
        .imgNos{
            #fotonos{
                position: unset;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }

        .info{
            flex-direction: row;
            align-items: stretch;
            padding: 50px;
            background-color: #ccc;
        }

        #visitanos{
            align-items: center;
            padding: 50px;  
        }

        iframe{
            height: 70%;
            padding-top: 11%;
            padding-left: 10%;
            width: 90%;
        }

    }
}





/*     SECCION CONTACTANOS     */
#tituloContactanos{
    @extend .titulos;
    color:orange;
    padding-top: 5%;
    padding-bottom: 3%;
}

#mainContactanos{
    position: relative;

    .contenido{
        position: relative;
        height: 60vh;
    }

    .fotoCont{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 85%;
        z-index: -1;
        display: block;
    }
        

    #formulario{
        #form{
            background-color: white;
            border-radius: 3px;
            font-size: 0.8em;
            padding: 19px;
            margin: auto;
            width: 400px;
            height: 300px;
            display: flex;
            flex-direction: column;     
        }
    }
}





/*     FOOTER     */

footer {
    align-items: center;
    background-color: #BF5517;
    color: #fff;

    h3{
        display: inline-block;
        text-align: center;
    }
    
    .horarios{
    display: inline-block;
    text-align: center;
    }
    
    .redes{
        display: inline-block;
        padding-left: 35%;

        ul{
            li{
                display: inline-block;

                .iconos{
                    width: 35px;
                    height: auto;
                    margin: 10px;
                    
                    &:hover{
                        filter: opacity(50%);
                    }
                }
            }
            
        }
        
    }
}





/*     Mobile     */
@media only screen and (max-width: 499px){
    /*      NAV     */
    /*     NAV GRILLA     */
    header{
        nav{
            #navbarNav{
                padding-left: 0%;
            }
        }
    }





    /*     INDEX      */
    /*     GRILLA INDEX     */
    #grillaIndex{
        #inicio{
            #titulo{
                font-size: 8vw;
                padding-top: 55%;
            }
        }

        #bienv{
            #tituloIndex{
                font-size: 5vw;
            }
        }
    }




    /*     SECCION LOCALES     */
    /*     GRILLA LOCALES     */
    #titleAside{
        text-align: center;
    }

    #imgLocal{
        width: 100%;
    }




    /*     SECCION CERVEZAS     */
    /*     GRILLA CERVEZAS     */

    #mainCervezas{
        padding: 4%;

        #tituloCervezas{
            font-size: 7vw;
        }

        #grillaCervezas{
            display: flex;
            flex-direction: column;
            row-gap: 10%;

            #cerv2{
                padding-top: 10%;
            }

            #cerv3{
                padding-top: 10%;
            }

            #cerv4{
                padding-top: 10%;
            }
        }
    }
    



    /*     SECCION NOSOTROS     */
    /*     GRILLA NOSOTROS     */
    #mainNosotros{
        #grillaNosotros{

            #tituloVis{
                text-align: center;
            }

            #iframe{
                iframe{
                    padding-top: 0%;
                    padding-bottom: 5%;
                    padding-left: 0%;
                    width: 100%;
                }
            }
        }
    }
   



    /*     SECCION CONTACTANOS     */
    /*     GRILLA CONTACTANOS     */
    #mainContactanos{
        #tituloContactanos{
            font-size: 7vw;
        }

        .fotoCont{
            height: 100%;
        }

        #formulario{
            display: flex;
            padding-top: 10%;
            padding-bottom: 10%;
            padding: 100px;
        }
    }
    
  
    




    /*     FOOTER     */
    /*     GRILLA FOOTER     */
    footer {
        display: flex;
        flex-direction: column;

        .redes{
            padding-left: 0%;

            ol, ul{
                padding-left: 0%;
                margin-bottom: 0%;
            }
        }
    }     
}


/*     Tablet     */
@media only screen and (max-width:991px) and (min-width: 500px){   

    /*     SECCION CONTACTANOS     */
    /*     GRILLA CONTACTANOS     */
    #mainContactanos{
        #formulario{
            display: flex;
            padding-top: 10%;
            padding-bottom: 10%;
            padding: 100px;
        }
    }




    /*     FOOTER     */
    /*     GRILLA FOOTER     */
    footer {
        display: flex;
        flex-direction: column;
        .redes{
            padding-left: 0%;

            ol, ul{
                padding-left: 0%;
                margin-bottom: 0%;
            }
        }
    } 
}

/*     Desktop    */
@media only screen and (min-width:992px){

    /*     INDEX      */
    /*     GRILLA INDEX     */
    #grillaIndex{
        @include grid(70% 30%, 100%);
        height: 100vh;
    }




    /*     SECCION LOCALES     */
    /*     GRILLA LOCALES     */
    #grillaLocales{
        @include grid(100%, 77% 21%);
        grid-column-gap: 2%;
    }
    



    /*     SECCION CERVEZAS     */
    /*     GRILLA CERVEZAS     */
    #grillaCervezas{
        height: 100%;
        @include grid(50% 50%, 40% 40%);
        row-gap: 7%;
    }




    /*     SECCION NOSOTROS     */
    /*     GRILLA NOSOTROS     */
    #grillaNosotros{
        @include grid(50% 50%, 50% 50%);
        row-gap: 20px;
    }





    /*     SECCION CONTACTANOS     */
    /*     GRILLA CONTACTANOS     */
    #formulario{
        padding: 150px;
    }





    /*     FOOTER     */
    /*     GRILLA FOOTER     */
    footer {
        @include grid(100%, 33.3% 33.3% 33.3%);
        height: 150px;
    }     
}
